@font-face {
  font-family: 'SamsungOne400';
  font-weight: 400;
  font-style: normal;
  src: local('SamsungOne-400'), url('./font/SamsungOne-400.eot') format('eot'),
    url('./font/SamsungOne-400.ttf') format('truetype'),
    url('./font/SamsungOne-400.woff') format('woff');
}

@font-face {
  font-family: 'SamsungOne700';
  font-weight: 700;
  font-style: normal;
  src: local('SamsungOne-700'), url('./font/SamsungOne-700.eot') format('eot'),
    url('./font/SamsungOne-700.ttf') format('truetype'),
    url('./font/SamsungOne-700.woff') format('woff');
}

* {
  font-family: 'SamsungOne400';
  height: 100%;
  word-break: keep-all;
  word-wrap: break-word;
  letter-spacing: -0.025em;
  line-height: 1.5;
}
