* {
  margin: 0;
  font-family: 'SamsungOne400', sans-serif;
  box-sizing: border-box;
}


button,
input,
select,
textarea {
  font-family: 'SamsungOne400', sans-serif;
  font-size: 16px;
  background-color: transparent;
  border: 0; }

button:focus,
select:focus,
textarea:focus {
  outline: none;
  box-shadow: none; }

a,
button {
  color: inherit;
  text-decoration: none;
  cursor: pointer; }

ul,
ol,
li {
  display: inline-block;
  padding-left: none;
  list-style: none; }

strong {
  display: inline-block; }

h1,
h2,
h3,
h4,
h5,
h6,
em,
strong {
  font-weight: 700; }
