/**************** 
font import 적용
*****************/

@import url('./font/font.css');

html, body {
    font-family: 'SamsungOne400';
    height: 100%;
    width: 100%;
    word-break:keep-all;
    word-wrap:break-word;
    letter-spacing: -0.025em;
    line-height: 1.5;
}

* {
    margin: 0 auto;
    box-sizing: border-box;

}

/**************** 
공통 요소 (button) 시작
*****************/

.btn-detail {
    display: inline-block;
    min-width: 96px;
    height: 40px;
    background-color: #000000;
    border-radius: 40px;
    padding:  13px 20px;
    font-size:0;
    text-align: center;
}

.btn-detail span {
    display: inline-block;
    line-height: 1;
    text-align: center;
    color: #FFFFFF;
    font-size: 14px;  
    font-weight: 700; 
    word-break:word-wrap;
    word-wrap:break-word;
    letter-spacing: -0.025em;
    line-height: 1.5;
}

/* 마이페이지 전용 공통 요소 */

.my-title { /* 전체 페이지 타이틀 */
    font-size: 34px;
    line-height: 1;
    float: left;
}

.tit-update { /* 섹션별 소제목 */
    float: left;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 21px;
}

.my_page-info-table { /* 섹션의 top 마진 */
    margin-top: 76px;
}

/**************** 
공통 요소 (button) 끝
*****************/

/**************** 
리셋
*****************/

_reboot.scss:168 ul {
    padding-left: 0;
}
  
  button,
  input,
  select,
  textarea {
    font-family: 'SamsungOne400', sans-serif;
    font-size: 16px;
    background-color: transparent;
    border: 0; }
button:focus,
select:focus,
textarea:focus {
      outline: none;
      box-shadow: none; }
  
  a,
  button {
    color:inherit;
    text-decoration: none;
    cursor: pointer; }
  
  ul,
  ol,
  li {
    display: inline-block;
    padding-left: none;
    list-style: none; }

   strong {
        display: inline-block;
    }

    h1, h2, h3, h4, h5, h6, em, strong {
        font-weight: 700;
    }
img {
    display: block;
}

/**************** 
리셋 끝
*****************/

/**************** 
GNB 코드 영역 시작 
*****************/
/* GNB */
.app-header:before {
    content: '';
    position: absolute;
    top:80px;
    left: 0;
    right: 0;
    height: 0;
    background-color: #F7F7F7;
    }

    .app-header {
        position: fixed;
        top:0;
        left: 0;
        width: 100%;
        z-index: 250;
        background-color: #fff;
        padding-left: 0;
        padding-right: 0;
    }

    .header {
        height: 81px;
        background-color: #fff;
        position: fixed;
        display: flex;
        top: 0;
        left: 0;
        width: 100%;
        align-items: flex-end;
        padding-left: 24px;
        padding-right: 24px;
    }

    .app-header:after {
        content: '';
        position: fixed;
        left: 0;
        right: 0;
        height: 1px;
        background-color: #e4e4e4;
    }

    .ci {
        display: block;
        position: relative;
        width: 223px;
        height: 100%;
        margin-top: 3px;
        margin-left: 0;
        margin-right: 0;
    }

    .logo {
        position: relative;
        background: url('sprite@2x.png') no-repeat -2px -1670px;
	    width: 442px;
	    height: 36px;
        top:25px;
        left: -74px;
        transform: scale(0.6);
        background-color: #fff;
    }

    .nav-menu {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        font-size: 16px;
        margin-right: 0;
        overflow: hidden;
    }
    
    .nav-menu-item + .nav-menu-item{
    }

    .nav-menu-item  a {
        position: relative;
        display: block;
        margin: 10px;
        color:black;
        line-height: 24px;
        font-weight: 700;
        text-decoration: none;
    }

    .util {
        height: 81px;
        margin-right: 0;
        display: flex;
        align-items: center;
    }

    .icon-member {
        display: unset;
        background: url('sprite@2x.png') no-repeat -2184px -1862px;
        width: 40px;
        height: 44px;
        transform: scale(0.5);         
    }

    .icon-cart {
        display: unset;
        background: url('sprite@2x.png') no-repeat -2182px -1114px;
	    width: 44px;
	    height: 44px;
        transform: scale(0.5);         
    }

    .icon-search {
        display: unset;
        background: url('sprite@2x.png') no-repeat -2182px -1726px;
	    width: 44px;
	    height: 44px;
        transform: scale(0.5);         
    }


/**************** 
GNB 코드 영역 끝 
*****************/

.bread-scrum {
	position: relative;
    height: 61px;
	top: 81px;
    padding: 20px 24px;
    border: 1px solid #ddd;
}

.content {
    position: relative;
    top: 81px;
    padding-top: 50px;
}

.my-memeber-zone {
    float: right;
    display: flex;
    align-items: center;
    margin-top: 7px;
    vertical-align: baseline;
}

.my-memeber-zone h3 {
    font-size: 18px;
    font-weight: normal;
    line-height: 1;
}

.my-memeber-zone h3 + div {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-left: 20px;
}

.my-memeber-zone a {
    padding-right: 15px;
    border-bottom: 1px solid #000;
}

.my-memeber-zone a:after {
    content: '';
    position: absolute;
    top:80px;
    width: 6px;
    height: 6px;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    transform: rotate(-45deg);
}

.row .my_page-info-table .tit_01 > a {
    position: relative;
    padding-right: 30px;
 }

.main-top h3 {
    text-align: left;
}

.main-top p {
    text-align: right;
}

/* 보유 제품 현황, 제품 자가 진단 섹션 */
.my-page-info-table-box {
    position: relative;
    height: 60%;
	border: 1px solid #ddd;
    background-color: #f7f7f7;
	border-radius: 20px;
	padding: 32px 40px;
    padding-bottom: 40px;
}

h1 {
    transform: scale(0.7);
}

.title-box {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.title-box p {
   padding-left: 100px;
}

.icon-my-page-holding-products {
    position: absolute;
    left: 0;
    top:0;
    background: url('sprite@2x.png') no-repeat -2278px -1570px;
	width: 96px;
	height: 82px;
    transform: scale(0.65);
}

.icon-my-page-iot {
    position: absolute;
    left: 0;
    top:0;
    background: url('sprite@2x.png') no-repeat -2278px -1682px;
	width: 96px;
	height: 96px;
    transform: scale(0.8);
}

.text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
    margin-bottom: 40px;
    padding-left: 106px;
}

.text-box button{
   float: left;
}

.btn_box {
    display: block;
    width: 100%;
}

.btn-detail.my > a {
    display: inline-block;
    min-width: 80px;
    height:32px;
    text-align: left;
    font-size: 0;
    padding: -1px 15px 10px 15px;
}

.btn_box .center_btn .left_btn_box > button > a > span {
    display: inline-block;
    line-height: 1;
    font-size: 14px;
    font-weight: 700;
}

.my_sec_cont_box ul {

}

.my_sec_cont_box ul li {

}

.myshop_check_info_list ul {
	display: flex;
    align-items: center;
	justify-self: space-between;
	flex-wrap: no-wrap;
	border: 1px solid #ddd;
	padding: 25px 0;
	border-radius: 15px;
}

.my_sec_cont_box {
	border: 1px solid #ddd;
}

.my_sec_cont_box_list {
	display: flex;
    padding-left: 0px;
    flex-direction: row;
    flex-basis: auto;
	justify-self: space-between;
	flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

.my_sec_cont_box_list > .cont_box_list {
    flex: 1;
}

.my_sec_cont_box_list > .cont_box_list + .cont_box_list {
    position: relative;
}

.my_sec_cont_box_list > .cont_box_list li:after{
    content: '';
    position: absolute;
    left: 0;
    top: 25px;
    width: 1px;
    height: 68px;
    background-color: red;
}

img:before {
    display: none;
}

.my_sec_cont_box_list > .cont_box_list > a {
    display: block;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

.my_sec_cont_box_list > .cont_box_list > a > p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-top: 3px;
}

.icon_box {
    position: relative;
    margin: 0 auto;
    width: 40px;
    height: 40px;
}

.service-info {
    background: url('sprite@2x.png') no-repeat -2400px -1424px;
	width: 72px;
	height: 72px;
}

.online-info {
    background: url('sprite@2x.png') no-repeat -2400px -1824px;
	width: 72px;
	height: 72px;
}

.product-info {
    background: url('sprite@2x.png') no-repeat -2278px -1570px;
	width: 96px;
	height: 82px;
    transform: scale(0.5);

}

.product-self {
    background: url('sprite@2x.png') no-repeat -2400px -1022px;
	width: 72px;
	height: 76px;
}

.order-info {
    background: url('sprite@2x.png') no-repeat -2398px -630px;
	width: 76px;
	height: 60px;
}

.coupon-info {
    background: url('sprite@2x.png') no-repeat -2400px -924px;
	width: 72px;
	height: 72px;
}

.likeproduct-info {
    background: url('sprite@2x.png') no-repeat -2400px -1924px;
	width: 72px;
	height: 72px;
}

.answer-info {
    background: url('sprite@2x.png') no-repeat -2402px -1526px;
	width: 68px;
	height: 68px;
}

dt {
    text-align: center;
}
dd {
    text-align: center;
}
dl {
    padding-left: 80px;
    padding-right: 80px; 
}
.myshop-dl {
    border-right: 1px solid #ddd;
    height: 100%;
}