<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>수정 Page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script>
    $(document).ready(function(){ 
            $.ajax({
            type:'GET',
            url: 'http://localhost:8181/api',
            dataType:'JSON'
            }).done(function(data){
                console.log(data);
                $.each(data, function(i,item){
                    let user_num = JSON.stringify(item[0].user_num);
                    let email = JSON.stringify(item[0].email).replace(/"/g,'');
                    let password = JSON.stringify(item[0].upassword).replace(/"/g,'');
                    let name= JSON.stringify(item[0].uname).replace(/"/g,'');
                    let address= JSON.stringify(item[0].address).replace(/"/g,'');
                    let phoneNum = JSON.stringify(item[0].phoneNum).replace(/"/g,'');

                    /*
                    $('#result').append(`<h3>${user_num}</h3>`)
                    $('#signUpID').append(`<h3>${email}</h3>`)
                    $('#password').append(`<h3>${password}</h3>`)
                    $('#name').append(`<h3>${name}</h3>`)
                    $('#address').append(`<h3>${address}</h3>`)
                    $('#phoneNum').append(`<h3>${phoneNum}</h3>`)
                    */

                    document.querySelector('#signUpID').placeholder = `${email}`;
                    document.querySelector('#password').placeholder = `${password}`;
                    document.querySelector('#name').placeholder = `${name}`;
                    document.querySelector('#address').placeholder = `${address}`;
                    document.querySelector('#phoneNum').placeholder = `${phoneNum}`;


                });
            });
        });
    /*
   function getUser() {
       const config = {
           method: "get",
           data: JSON.stringify({
                uname: '소윤희',
                address: '서울시 도봉구 창5동',
                phoneNum: '01045032245',
                upassword: '1234'
                })
           }
       fetch("/update", config ).then(function(response) { 
           response.text().then(function(){
               console.log('fetch 통신');
               console.log(response.text());
               document.querySelector('#text').innerHTML = config.data;
            })})}
    
    */
</script>
</head>
<body>
    <h1>정보 수정 페이지</h1>
    <div id="result"></div>

    <h1>마이페이지</h1>
    <div class="content">
        <form id="insert_form" method="post">
            <input id="signUpID" placeholder="" name="email" id="email" readonly/> <br />
            <input id="name" placeholder="" name="name" readonly/> <br />
            <input id="address" placeholder="" name="address"> <br />
            <input id="password" placeholder="" name="password"> <br />
            <input id="phoneNum" placeholder="" name="phoneNum"> <br />
            <input type="submit" value="수정">
        </form>
    </div>
</body>
</html>