/**************** 
font import 적용
*****************/

@import url('./font/font.css');

html, body {
    font-family: 'SamsungOne400';
    line-height: 1.5;
    letter-spacing: -0.025em;
    height: 100%;
}

* {
    margin: 0 auto;
    box-sizing: border-box;

}
/* reset */

button,
input,
select,
textarea {
  font-family: 'SamsungOne400', sans-serif;
  font-size: 16px;
  background-color: transparent;
  border: 0; }

button:focus,
input:focus,
select:focus,
textarea:focus {
    outline: none;
    box-shadow: none; }

a,
button {
  color:inherit;
  text-decoration: none;
  cursor: pointer; }

ul,
oi,
li {
  display: inline-block;
  padding-left: none;
  list-style: none; }

/* reset */

/* 공통 요소 */

.btn {
  font-size:15px;
  border-radius: 22px;
  margin:2.5px;
  width: 280px;
  height: 44px;
  padding: 8px 20px 7px 20px; 
  background-color: #ededed;
  border: none;
  vertical-align: middle; 
}

/* 공통 요소 */
.btn-detail {
  display: inline-block;
  min-width: 96px;
  height: 40px;
  background-color: #000000;
  border-radius: 40px;
  padding:  13px 20px;
  font-size:0;
  text-align: center;
}

.btn-detail span {
  display: inline-block;
  line-height: 1;
  text-align: center;
  color: #FFFFFF;
  font-size: 14px;  
  font-weight: 700; 
}


.btn-detail-reverse {
  display: inline-block;
  min-width: 96px;
  height: 40px;
  background-color: #FFFFFF;
  border : 1px solid #000000;
  border-radius: 40px;
  padding:  13px 20px;
  font-size:0;
  text-align: center;
}

.btn-detail-reverse span {
  display: inline-block;
  line-height: 1;
  text-align: center;
  color: #000000;
  font-size: 14px;  
  font-weight: 700; 
}

/* GNB */
.app-header:before {
  content: '';
  position: absolute;
  top:80px;
  left: 0;
  right: 0;
  height: 0;
  background-color: #F7F7F7;
  }

  .app-header {
      position: fixed;
      top:0;
      left: 0;
      width: 100%;
      z-index: 250;
      background-color: #fff;
      padding-left: 0;
  }

  .header {
      height: 81px;
      background-color: #fff;
      position: fixed;
      display: flex;
      top: 0;
      left: 0;
      width: 100%;
      align-items: flex-end;
      padding-left: 24px;
      padding-right: 24px;
      border-bottom: 1px solid #ddd;
  }

  .app-header:after {
      content: '';
      position: fixed;
      left: 0;
      right: 0;
      height: 1px;
      background-color: #e4e4e4;
  }

  .ci {
      display: block;
      position: relative;
      width: 223px;
      height: 100%;
      margin-top: 3px;
      margin-left: 0;
      margin-right: 0;
  }

  .logo {
      position: relative;
      background: url('sprite@2x.png') no-repeat -2px -1670px;
    width: 442px;
    height: 36px;
      top:25px;
      left: -74px;
      transform: scale(0.6);
      background-color: #fff;
  }

  .nav-menu {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      font-size: 16px;
      margin-right: 0;
      overflow: hidden;
  }
  
  .nav-menu-item + .nav-menu-item{
  }

  .nav-menu-item  a {
      position: relative;
      display: block;
      margin: 10px;
      color:black;
      line-height: 24px;
      font-weight: 700;
      text-decoration: none;
  }

  .util {
      height: 81px;
      margin-right: 0;
      display: flex;
      align-items: center;
  }

  .icon-member {
      display: unset;
      background: url('sprite@2x.png') no-repeat -2184px -1862px;
      width: 40px;
      height: 44px;
      transform: scale(0.5);         
  }

  .icon-cart {
      display: unset;
      background: url('sprite@2x.png') no-repeat -2182px -1114px;
    width: 44px;
    height: 44px;
      transform: scale(0.5);         
  }

  .icon-search {
      display: unset;
      background: url('sprite@2x.png') no-repeat -2182px -1726px;
    width: 44px;
    height: 44px;
      transform: scale(0.5);         
  }


/**************** 
GNB 코드 영역 끝 
*****************/

.content {
  position: relative;
  top: 81px;
  padding-top: 50px;
}

/* header */

/* body */
.login-top-title {
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 25px;
}

.content {
    position: relative;
    top: 81px;
    padding-top: 50px;
}

.sec-box. login-top-box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.sec-box .my-page-top-box {
    position: relative;
    min-width: 1440px;
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
    margin-left: auto;
    margin-right: auto;
}

.tit-page {
    top:0;
}

.input {
    position: relative;
    top:-44px;
    left: 330px;
}

.necessary-txt {
    float: right;
}

.row .must-info {
    padding-top: 60px;
}

.main-top {
  display: flex;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  line-height: 100%;
  width: 100%;
  margin-bottom: 19px;
  background-color: #f7f7f7;
  padding: 30px 0;
}

.login-top-icon {
  margin-right: 0;
}

.icon-login-main {
  display: inline-block;
  background: url('sprite@2x.png') no-repeat -1626px -492px;
	width: 172px;
	height: 116px;
  transform: scale(0.65);
}

.top-txt {
  float: left;
  padding: 0px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  margin-left: 0;
}
.bottom {
  position: relative;
  top:100px;
  margin-top: 19px;
}

.main-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  border-radius: 20px;
  padding: 30px 0;
}

.box-text-area {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.btn-line {
  text-decoration: underline;
}

.input-list-right-bt-box {
    float: right;
    margin-left: 25px;
}

.main-top h3 {
    text-align: left;
}

.main-top p {
    text-align: right;
}

.btn-detail-reverse {
    position: relative;
    float: right;
}

#samsungAccount{
  margin-bottom: 30px;
  width: 100%;
}

.btn-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.btn-wrap .btn-detail-reverse {
  width: 140px;
}

.btn-wrap .icon-btn-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-btn-box #kakao {
  width: 241px;
  margin-right: 10px;
}

.icon-btn-box #naver {
  width: 241px;
}

.icon-my-page-holding-products {
    /* 스프라이트 이미지 */
}

.icon-my-page-iot {
    /* 스프라이트 이미지 */
}
.btn-detail my {
    /* 오른쪽으로 */
}

.my_sec_cont_box ul {

}

.my_sec_cont_box ul li {

}

.input {
    width: 450px;
    height: 40px;
}

.input > input {
    width: 100%;
    padding: 3px 0 2px 0;
}

.add {
    position: relative;
    top: 68px;
}

.my-page-info-table-box {
	border: 1px solid #ddd;
	border-radius: 20px;
	padding: 32px 40px;
    margin-bottom: 60px;
}

.myshop_check_info_list ul {
	display: flex;
	justify-self: space-between;
	flex-wrap: wrap;
	border: 1px solid #ddd;
	padding: 25px 0;
	border-radius: 15px;
}

.tit_04 {
	margin-bottom: 21px;
}

.tit_05 {
	margin-bottom: 21px;
}

.col-12 .login {
  display: flex;
  align-items: center;
  justify-content: center;
  /*
  display: grid;
  place-items: center;
  margin-top: 200px;
  */
}

.col-12 .button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*
  display: grid;
  place-items: center;
  margin-top: 200px;
  */
}

.div-outer {
  position: relative;
  top:129px;
  background-color: #fcfcfc;
  border-radius: 26px;
  padding: 60px 72px 48px 72px;
  max-width: 1240px;
  margin: 0 auto;
  margin-bottom: 118.34px;

}

.login_title {
  margin-top: 30px;
  font-size:39px;
  line-height: 1.23;
  color: #0074d4;
  font-weight: 500;
}

.underline_text_section {

}

.underline_text {
  margin-bottom: 36px;
  width: 330px;
  text-align: left;
}

.underline_text li {
  margin-bottom: 8px;
  font-size: 15px;
  line-height: 1.6;
  font-weight: bold;
}

.underline_text li a {
  text-decoration: unset;
}

.button_bottom {
  margin-bottom: 30px;
}

input {
    font-size:18px;
    line-height: 1.33;
    width: 482px;
    margin:2.5px;
    height: 36px;
    padding-left: 0;
    border-bottom: 1px solid gray;
    margin-top: 37px;
    margin-bottom: 24px;
}

input:focus {
  border-color: #0072de;
  border-width: 2px;
  color: #0072de;
}

#textbox_top label {
  display: none;
}

#textbox_top #textbox_top_text:hover {
  display: unset;
  /*
  position: absolute;
  top:-1px;
  left: auto;
  */
  max-width: 100%;
  font-size: 18px;
  color: #0072de;
  pointer-events: none;
  overflow: hidden;
}

#password:focus {
  border-color: #0072de;
  border-width: 2px;
  color: #0072de;
}

#password label {

}

#input_form {
  margin-bottom: 10px;
}

#btn {
  min-width: 280px;
  min-height: 44px;
  background-color: #0074d4;
  color: #FFFFFF;
  font-size:17px;
}

.join-btnsec {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

#login_btn {
  margin-top: 36px;
  margin-bottom: 36px;
}

.one-footer {
  position: fixed;
  bottom: 0;
  padding: 16px 16px 30px 16px;
  height: 118.34px;
}

.footer-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  height: 72.344px;
  font-size: 12px;
}

.footer-inner div:first-of-type {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  margin-top: 23px;
}

.footer-inner .footer-logo {
  text-align: right;
}

.footer-inner .footer-logo img{
  width: 201px;
  height: auto;
  opacity: 1;
}

.footer-address {
  order: 3;
  font-style: normal;
  font-stretch: normal;
  width: auto;
  font-weight: 500;
  font-size: 12px;
  color: #888;
}

.btn:hover {
  color:grey;
  box-shadow: 2px 2px 2px orange;
}

h1 {
  color: black;
}

.div-inner .bottom > dl > dd > ul > li:before { /* 약관
  content: '';
  position: absolute;
  top: 9px;
  left: 0;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #000;
}
/* body */
