<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    
    <link rel="icon" type="image/x-icon" href="favicon.ico" /> 
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" /> 

    <title>마이페이지 | 삼성전자 서비스</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script>
        $(document).ready(function(){ 
            $.ajax({
            type:'GET',
            url: 'http://localhost:8181/api',
            dataType:'JSON'
            }).done(function(data){
                console.log(data);
                $.each(data, function(i,item){
                    let user_num = JSON.stringify(item[0].user_num);
                    let email = JSON.stringify(item[0].email).replace(/"/g,'');
                    let password = JSON.stringify(item[0].upassword).replace(/"/g,'');
                    let name= JSON.stringify(item[0].uname).replace(/"/g,'');
                    let address= JSON.stringify(item[0].address).replace(/"/g,'');
                    let phoneNum = JSON.stringify(item[0].phoneNum).replace(/"/g,'');

                    document.querySelector('#input_email').innerHTML= `${email}`;
                    document.querySelector('#input_password').innerHTML = `${password}`;
                    document.querySelector('#input_name').innerHTML= `${name}`;
                    document.querySelector('#input_address').innerHTML = `${address}`;
                    document.querySelector('#input_phoneNum').placeholder = `${phoneNum}`;

                });
            });
        });
    </script>
</head>
<body>

    <div class="container-fluid"> 
          <!-- 공통 영역 : 헤더 -->
          <!-- 1) GNB 마크업 -->
          <div class="row">
            <div class="app-header">
                <header class="header">
                    <!-- <div class="app-header-inner"> -->
                    <div class="ci">
                        <h1 class="logo"></h1> 
                    </div>
                    <ul class="nav-menu">
                    <li class="nav-menu-item"><a href="/">스스로해결</a></li>
                    <li class="nav-menu-item"><a href="/">전문상담</a></li>
                    <li class="nav-menu-item"><a href="/">서비스 안내</a></li>
                    <li class="nav-menu-item"><a href="/">서비스 예약</a></li>
                    <li class="nav-menu-item"><a href="/">소모품샵</a></li>
                    <li class="nav-menu-item"><a href="/">고객의 소리</a></li>
                    </ul>
                    <div class="util">
                        <h1 class="icon-member"></h1> 
                        <h1 class="icon-cart"></h1>
                        <h1 class="icon-search" id="mob-ic"></h1>
                    </div>
                    <!-- </div> -->
                </header>
            </div>
        </div>
</div>

<!-- 공통 영역 : 브레드 스크럼 -->
<div class="container-fluid">
    <div class="row">
        <div class="bread-scrum">
        <ul>
        <li>
            <a href="#">
            <i class="ic-home"></i>
            </a>
        </li>
        <li>
            <i class="ic-next"></i>
        </li>
        <li>
            <span>마이페이지 브레드스크럼</span>
        </li>
        </ul>
        </div>
    </div>
</div>

    <!-- 개별 영역 : 회원 정보 수정 페이지 시작 -->
    <div class="content">
    <div class="container-fluid">
        <div class="container"> 
            <div class="row">
                <h1 class="my-title">회원정보 수정</h1>
                <div class="col-6">
                    <div class="my-page-info-table-box">
                        <div class="title-box">
                            <i class="icon-my-page-holding-products"></i>
                            <h4>고객정보 삭제안내</h4>
                        </div>
                        <div class="text-box">
                            <p>정보통신망법 시행령에 따라 회원님이 1년간 로그인을 하지 않으시면 홈페이지의 
                               서비스 이력, 보유 제품 등 회원님의 정보가 삭제되오니 양해 부탁 드립니다. </p>
                        </div>
                        <div class="btn_box center_btn right_img_box">
                            <button class="btn-detail my"><a><span>보유제품 등록</span></a></button>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="my-page-info-table-box">
                        <div class="title-box">
                            <i class="icon-my-page-iot"></i>
                            <h4>필수/부가 정보 입력 시 주의사항</h4>
                        </div>
                        <div class="text-box">
                            <p>개인정보 보호를 위해 본인 외 타인의 정보(가족 포함)는 입력이 불가하며, 잘못된
                               정보 제공으로 인한 책임은 정보 제공자에게 있으니 주의해주시기 바랍니다. </p>
                        </div>
                        <div class="btn_box center_btn left_img_box">
                            <button class="btn-detail my"><a><span>제품 자가진단 소개</span></a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <form id="update_form" method="post">
        <div class="container">
        <div class="row">
            <div class="col-12">
                    <div class="sec-box my-page-top-box">
                        <h3 class="tit-update">필수정보</h3>
                        <p class="necessary-txt"><span>*</span>필수 입력사항</p>
                    </div>
                    </div>
                    </div>
                    <div class="row">
                    <div class="must-info-list">
                    <ul class="must-info-list-ul">
                        <li>
                            <label>이메일</label>
                            <span class="form-wrap">
                                <sapn class="input" id="input_email">
                                </sapn>
                            </span>
                            <!--
                            <div class="input-list-right-bt-box">
                                <button class="btn-detail-reverse">
                                    <span>
                                        Account 비밀번호 변경
                                    </span>
                                </button>
                            </div>
                            -->
                        </li>
                        <li>
                            <label>성명</label>
                            <span class="form-wrap">
                                <span class="input" id="input_name">
                                </span>
                            </span>
                            <!--
                            <div class="input-list-right-bt-box">
                                <a href="#">이름변경</a>
                            </div>
                            -->
                        </li>
                        <li>          
                            <label>전화번호</label>              
                            <span class="input" id="input_phoneNum">
                                <input type="textbox" class="input" placeholder="[회원번호] (서버에서 받아오는 데이터)" id="phoneNum" autofocus="true" />
                            </span>
                        </li>
                        <li>
                            <label>전화번호 재확인</label>              
                            <span class="input" id="input_phoneNum-re">
                                <input type="textbox" class="input" placeholder="[회원번호] (서버에서 받아오는 데이터)" id="phoneNum_re" autofocus="true" />
                            </span>
                        </li>
                    </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container my-page-top-box add">
        <div class="row">
            <div class="col-12">
                    <div class="sec-box my-page-top-box address">
                        <h3 class="tit-update">주소지 정보</h3>
                        <button class="btn-detail-reverse address">
                            <a>
                                <span>주소지추가</span>
                            </a>
                        </button>
                    </div>
            </div>
        </div>
        <div class="row">
                    <div class="must-info-list adress">
                    <ul class="must-info-list-ul adress">
                        <li>
                            <label>주소선택</label>
                            <div class="form_radio">
                                <div class="radio_box01">
                                    <label>집</label>
                                    <span class="labeling basic_address">기본 주소지</span>       
                                    <p class="radio_list_text">
                                        [회원주소] (서버에서 받아오는 데이터)
                                    </p>
                                </div>
                            </div>
                            <div class="radio-list-btn-box">
                                <button>
                                    <span><strong>수정</strong></span>
                                </button>
                            </div> 
                        </li>
                    </ul>
                    </div>
                    <div class="row">
                        <ul>
                            <li>
                                <label>주소지를 추가하시면 소모품샵 이용 시 편리하게 주소 변경이 가능하며, 기본 주소지로 설정된 주소로 서비스 예약이 가능합니다.</label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <button class="btn-detail-reverse"><a href="https://localhost:8181/delete"><span>회원 탈퇴</span></a></button>
                </div>
            </div>
        </div>
    
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="update-page-btn-bottom">
                        <button class="btn-detail-reverse"><a><span>취소</span></a></button>
                        <button class="btn-detail"><input type="submit" value="회원정보 수정" style="color: white;"></button>
                    </div>
                </div>
            </div>
        </div>
    </div> <!--content-->
</form>

        <div class="container-fluid">
        <div class="row"> <!-- 푸터 -->
            <div class="col-md-12">
            </div>
        </div>
        </div>

        <!-- 플로팅 모달 -->
    </div>
</body>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script src="index.js"></script>
</html>
</body>
</html>