$black:#000;
$black-btn-txt:#252525;
$white:#fff;
$white-header:#F7F7F7;
$gray-header:#e4e4e4;

$transper:transparent;

$secondary-border:#ddd;
$secondary-subtxt:#767676;
$secondary-btn:#00000073;
$secondary-btn-ghost:#ededed;
$secondary-line:#a9a9a9;

$blue: #0074d4;
$blue-quick1:#00b3e3;
$blue-quick2:#007aff;
$blue-txt:#0072de;

$red:#dd463f;

$purple-circle:rgba(203,92,244,0.8);
$blue-circle:rgba(0,179,227,0.6);
$green-circle:rgba(134,222,9,0.8);
