%form-base {
    // @include text-style(16, $secondary);
    display: flex;
    width: calc(100%/3 + 60px);
    height: 50px;
    padding: 5px 10px 5px 10px;
    background-color:$white;
}

.search-form {
    @extend %form-base;
}