<!DOCTYPE html>
<html lang="en">
    <style>
        input {
            display: block;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript">
        function SignUp() {
            var param = {};
            param.email = $('#email').val();
            param.password = $('#password').val();
            param.FamilyName = $('#FamilyName').val();
            param.givenName = $('#givenName').val();
            var ajax = $.ajax({
                url:"/join",
                data: param,
                type:'POST',
                dataType:'JSON',
                success: function(result) {
                    alert(result.msg);
                }
            });
        }
    </script>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- 1)header -->

    <!-- 2) form -->
    <div class="title">
        <h1>삼성계정 만들기</h1>
    </div>
    <div class="subDec ng-scope">
        계정으로 사용할 이메일 주소를 입력하세요.
        <a>전화번호를 사용하려면 여기를 누르세요</a>
    </div>  

    <div class="content">
    <form id="insert_form" method="post">
        <input id="signUpID" placeholder="이메일" name="email" id="email">
        <input id="password" placeholder="비밀번호" name="password" id="password">
        <input id="ConfirmPassword" placeholder="비밀번호 확인">
        <input id="FamilyName" placeholder="성" name="FamilyName" id="FamilyName">
        <input id="givenName" placeholder="이름" name="givenName" id="givenName">

        <!--
        <label for="year">년</label>
        <input type="tel" id="year" name="year">

        <select id="month" name="month">
        <option value disabled="disabled" selected="selected">월</option>
            <option id="month0" value="01" class="ng-binding ng-scope">1월</option>
            <option id="month1" value="02" class="ng-binding ng-scope">2월</option>
            <option id="month2" value="03" class="ng-binding ng-scope">3월</option>
            <option id="month3" value="04" class="ng-binding ng-scope">4월</option>
            <option id="month4" value="05" class="ng-binding ng-scope">5월</option>
            <option id="month5" value="06" class="ng-binding ng-scope">6월</option>
            <option id="month6" value="07" class="ng-binding ng-scope">7월</option>
            <option id="month7" value="08" class="ng-binding ng-scope">8월</option>
            <option id="month8" value="09" class="ng-binding ng-scope">9월</option>
            <option id="month9" value="10" class="ng-binding ng-scope">10월</option>
            <option id="month10" value="11" class="ng-binding ng-scope">11월</option>
            <option id="month11" value="12" class="ng-binding ng-scope">12월</option>
        </select>

        <label for="day">일</label>
        <input type="tel" id="day" name="day">
        --> 
        <input type="submit" value="회원가입">
        <input type="button" value="회원가입" onclick="SignUp();">
    </form>
    </div>
</body>
</html>